.navMovies-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
    padding: 5px;
    width: 100%;
    height: 45px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.navMovies-link>* {
    margin: 0 20px;
}