.login {
    display: flex;
    justify-content: space-between;
    width: 350px;
    right: 10%;
}
  
.login-element {
    display: flex;
    align-items: center;
}
  
.login-message {
    margin: .3em 1em;
}

.login-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-button {
    font-size: 1em;
    color: #fff;
    background-color: #000;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
}
